{% extends 'layout.html' %} {% block body %}
<body>
  <div class="gallery">
    {% for image_name in image_names %}
    <div class="img-wrap">
      <a
        href=""
        data-toggle="modal"
        data-target="{{'#basicModal' + loop.index0|string}}"
      >
        <img
          src="{{ url_for('static', filename='images/example' + loop.index0|string + '.png') }}"
          alt="{{ 'image' + loop.index0|string }}"
        />
        <button class="btn btn-secondary img-desc">
          Read Article
        </button>
      </a>
    </div>
    <div
      class="modal fade"
      id="{{'basicModal' + loop.index0|string}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="{{'basicModal' + loop.index0|string}}"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-scrollable">
        <form action="/results" method="POST">
          <input
            type="hidden"
            name="title"
            value="{{articles[loop.index0]['title']}}"
            readonly
          />
          <input
            type="hidden"
            name="text"
            value="{{ articles[loop.index0]['text'] }}"
            readonly
          />
          <div class="modal-content">
            <div class="modal-header mx-auto form-group">
              <h4 class="modal-title modal-text" id="myModalLabel" name="title">
                {{ articles[loop.index0]['title'] }}
              </h4>
            </div>
            <div class="modal-body modal-text form-group">
              <p name="text">
                {{ articles[loop.index0]['text'] }}
              </p>
              <hr />
              <a href="{{ articles[loop.index0]['URL'] }}" target="_blank">
                Original Article</a
              >
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Close
              </button>
              <input type="submit" value="Predict!" class="btn btn-secondary" />
            </div>
          </div>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

<!-- <form action="/results" method="POST">
  <div><label>Title: </label><input type="text" name="title" /></div>
  <div>
    <label>Article: </label
    ><textarea name="text" cols="30" rows="10"></textarea>
  </div>
  <button type="submit">Submit</button>
</form> -->
{% endblock %}
