{% extends 'layout.html' %} {% block body %}
<body>
  <div class="gallery">
    {% for image_name in image_names %}
    <div class="img-wrap">
      <a
        href=""
        data-toggle="modal"
        data-target="{{'#basicModal' + loop.index0|string}}"
      >
        <img
          src="{{ url_for('static', filename='/images/' + image_name) }}"
          alt="{{ 'image' + loop.index0|string }}"
        />
        <button class="btn btn-secondary img-desc">
          Read Article
        </button>
      </a>
    </div>
    <div
      class="modal fade"
      id="{{'basicModal' + loop.index0|string}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="{{'basicModal' + loop.index0|string}}"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title modal-text" id="myModalLabel">
              Basic Modal
            </h4>
          </div>
          <div class="modal-body modal-text">
            <h3>Modal Body</h3>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <form action="/results" method="POST">
              <input type="submit" value="Predict!" class="btn btn-secondary" />
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

<!-- <form action="/results" method="POST">
  <div><label>Title: </label><input type="text" name="title" /></div>
  <div>
    <label>Article: </label
    ><textarea name="text" cols="30" rows="10"></textarea>
  </div>
  <button type="submit">Submit</button>
</form> -->
{% endblock %}
