.navbar {
  box-shadow: inset 0px 2px 0px rgb(255, 65, 128);
}

.navbar-brand {
  font-size: x-large !important;
}

.btn {
  border-color: rgb(255, 65, 128) !important;
}

.btn:hover {
  color: rgb(255, 65, 128) !important;
}

.modal-content {
  background-color: rgb(58, 60, 61) !important;
}

.modal-text {
  color: #ffffff;
}

.gallery {
  text-align: center;
  margin: 10px 50px;
}
.gallery .img-wrap {
  background-color: rgb(27, 82, 100);
  transition: 0.666s;
  border-radius: 25px;
  margin: 10px;
  width: 250px;
  height: 182px;
  display: inline-block;
  border: 2px solid rgb(255, 65, 128);
  overflow: hidden;
}

.gallery .img-wrap img {
  width: 100%;
  width: 100%;
}

.img-desc {
  position: absolute;
  top: 40%;
  left: 28%;
  visibility: hidden;
  opacity: 0;
  border-color: rgb(255, 65, 128);
  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.gallery .img-wrap:hover {
  transform: scale(1.05);
}

.gallery .img-wrap:hover img {
  filter: blur(2px);
}

.gallery .img-wrap:hover .img-desc {
  visibility: visible;
  opacity: 1;
}
